<div class="row">
  <div class="large-12">
<h1> your immune system is currently <%= @system.status_name %> </h1>

    <h1>system status</h1>
      <table>
        <tr>
          <th>cells</th>
          <th>antigens</th>
          <th>antibodies</th>
          <th></th>
        </tr>

        <tr>
          <td><%= @cells.count %></td>
          <% antigens = 0 %>
          <% antibodies = 0 %>
          <%= @cell.each do |cell| %>
            <% if cell.status == antigens %>
              <% antigens += 1 %>
            <% elsif cell.status == antibodies %>
              <%= antibodies += 1 %>
            <% end %>
          <% end %>
          <td><%= "#{(antigens/@cells.count)*100}%" %></td>
          <td><%= "#{(antibodies/@cells.count)*100}%" %></td>
        </tr>
    </table>

    <h1>immune status</h1>
        <table>
          <tr>
            <th>differentiation</th>
            <th>memory</th>
            <th>apoptosis</th>
            <th>pyrogenation</th>
            <th></th>
          </tr>

          <tr>
            <td><%= @system.differentiation? %></td>
            <td><%= "#{@system.memory}%" %></td>
            <td><%= @system.apoptosis? %></td>
            <td><%= @system.pyrogenation? %></td>
          </tr>
      </table>


    <h1>virus status</h1>
        <table>
          <tr>
            <th>viruses</th>
            <th>lysogenic</th>
            <th>lytic</th>
            <th>latent</th>
            <th></th>
          </tr>

          <tr>
            <td><%= @viruses.count %></td>
            <% lysogenic = 0 %>
            <% lytic = 0 %>
            <% latent = 0 %>
            <% @viruses.each do |virus| %>
              <% if virus.lysogenic? %>
              <%  lysogenic += 1 %>
              <% elsif virus.lytic? %>
              <%  lytic += 1 %>
              <% elsif virus.latent? %>
              <%  latent += 1 %>
              <% end %>
            <% end %>
            <td><%= "#{(lysogenic/@viruses.count)*100}%" %></td>
            <td><%= "#{(lytic/@viruses.count)*100}%" %></td>
            <td><%= "#{(latent/@viruses.count)*100}%" %></td>
          </tr>
      </table>
  </div>
</div>
